<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ac.id.atmaluhur.mhs.makandakapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UAS_DPM_TI5J_MakanDakApp">
        <activity
            android:name="ac.id.atmaluhur.mhs.makandakapp.TeleponActivity"
            android:exported="false" />
        <activity
            android:name="ac.id.atmaluhur.mhs.makandakapp.DetailMakananActivity"
            android:exported="false" />
        <activity
            android:name="ac.id.atmaluhur.mhs.makandakapp.PencarianActivity"
            android:exported="false" />
        <activity
            android:name="ac.id.atmaluhur.mhs.makandakapp.VoucherActivity"
            android:exported="false" />
        <activity
            android:name="ac.id.atmaluhur.mhs.makandakapp.ChatActivity"
            android:parentActivityName=".MenuUtamaActivity"
            android:exported="false" />
        <activity
            android:name="ac.id.atmaluhur.mhs.makandakapp.CheckoutActivity"
            android:parentActivityName=".MenuTokoActivity"
            android:exported="false" />
        <activity
            android:name="ac.id.atmaluhur.mhs.makandakapp.MenuUtamaActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="false" />
        <activity
            android:name="ac.id.atmaluhur.mhs.makandakapp.MenuTokoActivity"
            android:parentActivityName=".MenuUtamaActivity"
            android:exported="false" />
        <activity
            android:name="ac.id.atmaluhur.mhs.makandakapp.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="false" />
        <activity
            android:name="ac.id.atmaluhur.mhs.makandakapp.RegisterActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ac.id.atmaluhur.mhs.makandakapp.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>